
.entete {
	
	height: 80px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	border: 2px solid black;

}
h1 {
	font-family: Roboto;
	text-align:center;
}
.titreEntete {
	display: inline-block;
}
.logo {
	padding:10px;
}

.lblTotal, lblTPS
{
    text-align:right;
}

.Restaurant, .idInfoCde
{
    padding-top : 30px;
    padding-bottom : 30px;
}

.lien
{
    padding-top : 30px;
    float : right;
}

.BtnAccueil, .BtnDeconnecter, .BtnListeCde {
    padding: 15px;

}

.Commande
{
    padding-top : 80px;
}

.RechCommande
{
    padding-top : 15px;
}

.txtNomClient
{
    padding-left : 25px;
}

.txtAdrClient {
    padding-left: 120px;
}

.infoClt{
    padding-top : 5px;
}

.boutonAccueil
{
    padding : 15px;
    margin-top : 15px;
}
